@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

@import '/constants.css';

/* Schedule section */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.schedule-section {
    margin: 0 auto;
    background-color: white;
    padding: 5% 0;
   
}

.schedule {
  
    text-align: center;
}

.container-register {
    width: 50%;
    margin: 0 auto;
}

.row-register {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.register-col1 {
    width: 35%;
 
    padding: 1%;
    
}

.register-col2 {
    width: 65%;
    padding: 4%;
 }

 table {
    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

 /* Map section */

 .map {
    background-color: var(--red);
    padding: 4%;
 }

 .map-container {
    

    padding: 4%;
    background-color: black;
    margin: 0 auto;
 }

 .map-container p {
    color: white;
 }

 iframe{
    width: 100%;
    height: 350px;
 }

 @media(max-width: 800px){
    .schedule-section {
        padding: 10% 0;
    }
    .container-register {
        width: 80%;
    }

    .register-col1 {
        width: 100%;
    }
    .register-col2 {
        width: 100%;
    }
 }